# ignore
EIGENAsciiQuickReference.txt
*.tlog
*.pdb
*.lib
*.user
*.dll
*.ilk
*.aps
*.sbr
*.pch
*.lastbuildstate
*.exe
*.obj
*.log
*.tlog
*.swp
*.dep
*.xml
*.htm
*.html
*.sdf
*.ncb
*.suo
*.idb
*.opendb
*.orig
*.filters
*.dsp
*.dsw
*.bsc
NMPCipoptccpAD/*.txt
cppad*/*
libipopt*/*
boost*/*
Clp*/*
eigen*/*
fftw*/*
Ipopt*/*
colpack*/*
coolproplib*/*
lp_solve*/*
Bonmin*/*
colpack*/*
GNUPlot*/*
qpOASES*/*
